.b1
{
  padding-top:5px;
}
/*APP NAME */
#appn
{
  font-size:11pt;
  position:relative;
  padding-top: 50px;
  margin-right: 50px;
}

/* PLAY BUTTON CRICLE*/
#play-button{
  font-size:1em;
  line-height:1.1em;
  border-color: gold;
  color:gold;
  background-color:transparent;
  margin:auto;
  border-radius: 100%;
  width: 74px;
  height: 70px;
  position:relative;
  margin-right: 50px;
}

#play-button:hover{
  color:#ffffff;
  text-decoration:none;
  border-color:#ff7536;
}

/* MUTE CIRCLE*/
#mute-button{
  font-size:1em;
  line-height:1.1em;
  color:gold;
  background-color:transparent;
  margin:auto;
  position:relative;
  width: 30px;
  padding-left:65px;
}


/* SONG TITLE */
#metadata
{
  color:gold;
  position:relative;
  font-size: 13pt;
  padding-left: 40px;
  text-transform: uppercase;
}
/*dedication for cp*/
.kamatis{
  display:none;
  font-size:1em;
  line-height:1.1em;
  color:gold;
  background-color:transparent;
  position:relative;
}

.kamatis:hover{
  color:#ffffff;
  text-decoration:none;
  border-color:#ff7536;
}
/* VOLUME CONTROL */
#vol-control
{
  background-color: gold;
  position:relative;
  margin-right: 30px;

}

/* SMALL BUTTONS */
.smallbuts{
  font-size:1em;
  line-height:1.1em;
  color:gold;
  background-color:transparent;
  position:relative;
}

.smallbuts:hover{
  color:#ffffff;
  text-decoration:none;
  border-color:#ff7536;
}

/* PLAY ICON SIZE */
.playsize
{
  font-size:30pt;
  
}

/* MEDIA BUTTONS */

@media only screen and (max-width: 1024px) {
 #play-button{
  border:.3em solid gold;
  font-size:1em;
  line-height:1.1em;
  color:gold;
  background-color:transparent;
  margin:auto;
 border-radius: 30%;
  width: 85px;
  height: 85px;
  position:relative;
  float:left;

}
#appn
{
  display:none;
}
#vol-control
{
  display:none;
}
.smallbuts
{
  display:none;
}
.kamatis
{
  display:block;
}
}
@media only screen and (max-width: 1024px) {
 #play-button{
  border:.3em solid gold;
  font-size:1em;
  line-height:1.1em;
  color:gold;
  background-color:transparent;
 border-radius: 30%;
  width: 78px;
  height: 78px;
  margin-right: 10px;
  position:relative;
  float:left;

}
#metadataholder
{
  width: 50%;
  margin-left: 3px;
}
}
@media only screen and (max-width: 1024px) {
 #mute-button{
display:none;
}
}
/* END OF MOBILE*/

/*Line*/
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    border-color: maroon;
} 